body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

pre {
	padding: 10px;
	margin: 10px;
	background-color: #0f0f0f;
	border-radius: 15px;
	color: #ffffff;
	font-family: Hack, Arial, Helvetica, sans-serif;
}

.basic_content {
	width: 800px;
	padding: 10px;
	margin: 10px;
	background-color: #dddddd;
	
	border-radius: 25px;
	font-family: Arial, Helvetica, sans-serif;
}

.instruction {
	 font-weight: bold;
	 padding-left: 10px;
}